<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div class="strip strip-basic" id="strip" title="strip">
			<div class="panel"></div>
			<div class="panel"></div>
			<div class="panel"></div>
		</div>
		<div class="page page-basic" id="page" title="page">
			<div class="page-row">
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
			</div>
			<div class="page-row">
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
			</div>
			<div class="page-row">
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
			</div>
		</div>
		<div class="spread spread-basic" id="spread" title=
		"spread">
			<div class="page">
				<div class="page-row">
					<div class="panel"></div>
					<div class="panel"></div>
					<div class="panel"></div>
				</div>
				<div class="page-row">
					<div class="panel"></div>
					<div class="panel"></div>
					<div class="panel"></div>
				</div>
				<div class="page-row">
					<div class="panel"></div>
					<div class="panel"></div>
					<div class="panel"></div>
				</div>
			</div>
				<div class="page">
					<div class="page-row">
						<div class="panel"></div>
						<div class="panel"></div>
						<div class="panel"></div>
					</div>
					<div class="page-row">
						<div class="panel"></div>
						<div class="panel"></div>
						<div class="panel"></div>
					</div>
					<div class="page-row">
						<div class="panel"></div>
						<div class="panel"></div>
						<div class="panel"></div>
					</div>
				</div>
			</div>
		
			<div class="page-row loaded" id="r1">
				<div class="panel"></div>
				<div class="panel" style="width:63%"></div>
			</div>

			<div class="page-row loaded" id="r2">
				<div class="panel" style="width:63%"></div>
				<div class="panel"></div>
			</div>
			
			<div class="page-row loaded" id="r3">
				<div class="panel" style="width:97%"></div>
			</div>
			
			<div class="page-row loaded" id="r4">
				<div class="panel"></div>
				<div class="panel" style="width:63%; height:45% !important;">
				</div>
				<div class="panel" style="width:63%; height:46% !important;">
				</div>
			
			</div>

			<div class="page-row loaded" id="r5">
				<div class="panel" style="width:63%; height:45% !important;">
				</div>
				<div class="panel" style = "float:right; margin-right:3%"></div>
				<div class="panel" style="width:63%; height:46% !important;">
				</div>
				
			</div>
			<div class="page-row loaded" id="r6">
		<div class="panel"></div>
						<div class="panel"></div>
						<div class="panel"></div>
</div>
	</body>
</html>
